
<div style="margin-top: 120px; display: grid; place-items: center; margin-bottom: 100px;">
    <h2 >Track My Order</h2>
</div>
<div >
<div class="container">
    <label for="checkbox-1">
      <input checked  type="checkbox" id="checkbox" name="checkbox-1"/>
      📝 Confirmed
    </label>
    <label for="checkbox-2">
      <input [checked]="pickedUp === 'true'" [disabled]="pickedUp === null || pickedUp ===''"  type="checkbox" id="checkbox-2" name="checkbox-2"/>
      🛒 Pickd-up
    </label>
   
    <label for="checkbox-3">
      <input [checked]="inTransit === 'true'" [disabled]="inTransit === null"  type="checkbox" id="checkbox-3" name="checkbox-3"/>
     🚚 In Transit
    </label>
     <label for="checkbox-2">
      <input [checked]="outForDelivery === 'true'" [disabled]="outForDelivery === null" type="checkbox" id="checkbox-5" name="checkbox-5"/>
      🛵 out For Delivery
    </label>
     <label for="checkbox-2">
      <input  [checked]="delivered === 'true'" [disabled]="delivered === null" disabled type="checkbox" id="checkbox-7" name="checkbox-7"/>
      📦 Delivered
    </label>
  </div>
</div>